@font-face {
    font-family: PTSans;
    font-weight: normal;
    src: url(../fonts/PT_Sans-Web-Regular.ttf);
}
@font-face {
    font-family: PTSans;
    font-weight: bold;
    src: url(../fonts/PT_Sans-Web-Bold.ttf);
}
@font-face {
    font-family: WorkSans;
    src: url(../fonts/WorkSans-Light.ttf);
}

/* 2.2 HEADINGS */

h1.reflect-h1,
h2.reflect-h2,
h3.reflect-h3 {
    font-family: "WorkSans", Helvetica, Arial, sans-serif;
}
.reflect {
    font-family: "PTSans", Helvetica, Arial, sans-serif;
}
.reflect h2.section-heading {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 40px;
}
.reflect .section-subheading {
    margin-bottom: 40px;
    text-transform: none;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin-top: 25px;
    color: #666666;
    font-weight: 400;
}
.reflect .separator {
    width: 30px;
    height: 2px;
    display: block;
    margin: auto;
    background-color: #1080f2;
}
/* --------------------------------------
3. LAYOUT
-----------------------------------------*/
/* 3.1 GENERAL*/

.reflect section {
    padding: 100px 0;
}
.reflect .row {
    margin: 0;
}
.reflect .container {
    padding: 0;
}
.reflect .outer-margin {
    margin: 0 -15px;
}
.reflect .bg-light-gray {
    background-color: #f7f7f7;
}
.reflect .btn-primary {
    text-transform: uppercase;
    font-family: "WorkSans", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #fff;
}
.reflect .btn-primary:hover,
.reflect .btn-primary:focus,
.reflect .btn-primary:active,
.reflect .btn-primary.active,
.reflect .open .dropdown-toggle.btn-primary {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}
.reflect .btn-primary:active,
.reflect .btn-primary.active,
.reflect .open .dropdown-toggle.btn-primary {
    background-image: none;
}
.reflect .btn-xl {
    height: 50px;
    background-color: #1080f2;
    border-radius: 2px;
    color: white;
    font-family: PTSans;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    transition: 0.3s;
}
.reflect .btn-xl:hover,
.reflect .btn-xl:focus,
.reflect .btn-xl:active,
.reflect .btn-xl.active {
    background-color: #273140;
    color: #fff;
}
.reflect .btn-xl:active,
.reflect .btn-xl.active,
.reflect .open .dropdown-toggle.btn-xl {
    background-image: none;
}
.reflect .parallax {
    background: #1080f2;
}
.reflect .parallax h2.section-heading,
.reflect .parallax .section-subheading {
    color: #fff;
}
.reflect .parallax .separator {
    background: #fff;
}
.reflect .gray-bg {
    background: #f8f8f8;
}
.reflect .header-buttons {
    margin: 40px auto 40px auto;
}
.reflect .primary-button {
    min-width: 150px;
    padding: 0 20px;
    background-color: white;
    border-radius: 2px;
    color: #1080f2;
    font-family: PTSans;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    margin: 0 10px;
    border: 2px solid white;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.reflect .primary-button.button-inverse {
    color: #fff;
    background: #1080f2;
    border: 2px solid #1080f2;
    margin: 0;
}
.reflect .primary-button.button-inverse:hover {
    color: #1080f2;
    background: transparent;
    border: 2px solid #1080f2;
}
.reflect .secondary-button {
    min-width: 150px;
    text-align: center;
    line-height: 36px;
    background: #1080f2;
    display: inline-block;
    line-height: 36px;
    color: white;
    font-family: PTSans;
    font-size: 14px;
    margin: 0 10px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 2px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.reflect .secondary-button-inverse {
    color: #1080f2;
    border-color: #1080f2;
    background: #fff
}
.reflect .secondary-button.secondary-button-inverse:hover {
    color: #fff;
    background: #1080f2;
}
.reflect .primary-button:hover {
    background: none;
    color: #fff;
    text-decoration: none;
}
.reflect .secondary-button:hover {
    background: #fff;
    color: #273140;
    text-decoration: none;
}

/* --------------------------------------
5. HEADER
-----------------------------------------*/
.reflect .reflect-header,
.reflect section.reflect-header {
    position: relative;
    text-align: center;
    color: #fff;
    background-color:#273140;

}

.reflect .reflect-header-background {
    background-image: url(../img/headerbg.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    background-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.25;
}

.reflect .reflect-header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}
.reflect .reflect-header .intro-text .intro-heading {
    font-family: PTSans;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    max-width: 75%;
    display: block;
    text-align: center;
    margin: 10px auto;
}

.reflect .header-buttons .secondary-button ,
.reflect .header-buttons .primary-button {
}

.reflect .reflect-header .primary-button.button-inverse:hover {
   color:  #273140;
   background: #fff;
   border-color: #fff
}

.reflect  .reflect-header .intro-text {
    padding-top: 0;
    padding-bottom: 0;    
}
.reflect  .reflect-header .intro-text .intro-lead-in {
    font-family: WorkSans;
    font-size: 52px;
    font-weight: 200;
    letter-spacing: -1px;
    margin: 0;
    text-align: center;
    margin-top: 10px;
    
    line-height: 1.2;
}
.reflect  .reflect-header .header-dashboard {
    display: block;
    margin: auto;
    
}
.reflect .reflect-header .header-dashboard .dashboard {
     margin-top: 5px;
    margin-bottom: 0;
}
.reflect  .reflect-header .container {
    position: relative;
    z-index: 10;
}

/* --------------------------------------
6. SECTIONS
-----------------------------------------*/
/*     6.1 ABOUT*/

.reflect .reflect-services .col-md-3 {
    text-align: center;
}
.reflect .reflect-services .col-md-3.last {
    padding-right: 0;
}
.reflect .reflect-services .nc-icon-outline,
.reflect .reflect-services .fa {
    color: #1080f2;
    margin-bottom: 36px;
    font-size: 40px
}
.reflect .service-heading {
    text-transform: none;
    color: #333;
    font-size: 22px;
    margin-top: 0;
    line-height: 22px;
    margin-bottom: 22px;
}
/*6.2 FEATURES*/


.reflect .reflect-features {overflow: hidden;}
.reflect .reflect-features .container {
    position: relative;
}
.reflect .reflect-features img {
    position: absolute;
    top: 0;
    right: 0
}
.reflect .reflect-features .section-subheading {
    margin-bottom: 30px;
    margin-top: 5px;
    max-width: 450px;
    float: left;
    line-height: 25px;
}
.reflect .features-tabs .tabs {
    margin: 0;
    padding: 0;
    width: 1170px;
    height: 60px;
    background-color: white;
    border: 1px solid #d1d1d1;
    margin-top: 100px;
}
.reflect .features-tabs .tab {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 0;
    display: inline-block;
    zoom: 1;
    background: none;
    border: none;
    border-bottom: none;
    text-align: center;
    font-family: PTSans;
    font-size: 14px;
    font-weight: 700;
    height: 58px;
    line-height: 60px;
    background: #fafafa;
}
.reflect .features-tabs .tab a {
    color: #bbb;
    text-transform: uppercase;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.reflect .features-tabs .tab.active {
    background: #fff;
}
.reflect .features-tabs .tab a.active {
    color: #1080f2
}
.reflect .features-tabs .tab:hover a {
    color: #1080f2
}
.reflect .features-tabs .panel-container {
    background: #fff;
    border: solid #666 1px;
    padding: 10px;
    -moz-border-radius: 0 4px 4px 4px;
    -webkit-border-radius: 0 4px 4px 4px;
}
.reflect .features-tabs .tab a .triangle {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.reflect .features-tabs .tab a.active .triangle {
    border-bottom: 0;
    visibility: visible;
    width: 0;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #d1d1d1;
    opacity: 1;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    top: -10px;
}
.reflect .features-tabs .tab .triangle .inner-triangle {
    display: block;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    top: 2px;
    position: absolute;
    left: -8px;
}

.reflect .features-tabs ul {
    padding-left: 0px;
    margin-bottom: 30px;
}
.reflect .features-tabs li {
    background: url(../img/checked.png) no-repeat left 20px;
    padding-left: 40px;
    list-style: none;
    margin: 0;
    color: #666;
    font-family: PTSans;
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
}
.reflect .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


.reflect .reflect-video .section-subheading {
    margin-bottom: 55px;
}
.reflect .video-container {
    position: relative;
}
.reflect .video-container a {
    display: block;
    cursor: pointer;
    width: 630px;
    margin: auto;
}
.reflect .video-container img {
    margin: auto;
    display: block;
}
.reflect .play-video {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -38px;
    margin-top: -48px;
    width: 76px;
    height: 76px;
    background-color: rgba(39, 49, 64, 0.6);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    border-radius: 50%;
    cursor: pointer;
}
.reflect .video-container a:hover .play-video {
    background-color: rgba(39, 49, 64, 1);
}
.reflect .play-video .fa-play {
    width: 22px;
    height: 26px;
    color: white;
    font-size: 28px;
    font-weight: 400;
    position: absolute;
    top: 25px;
    left: 30px;
}
.reflect .reflect-video {
    background: url(../img/video/videobg.jpg);
    position: relative;
    background-size: 100%;
    background-attachment: fixed;
}
.reflect .reflect-video .overlay {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    position: absolute;
    top: 0;
}
.reflect .video-socials {
    position: relative;
    margin: auto;
    width: auto;
    text-align: center;
    margin-top: 45px;
}
.reflect .video-socials a:hover .fa {
    color: #273140
}
.reflect .video-socials .fa {
    color: white;
    margin: 0 17px;
    font-family: FontAwesome;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
    height: 25px;
    text-transform: uppercase;
}
.reflect .video-modal {
    padding: 0!important;
    background: rgba(39, 49, 64, 0.5);
}
.reflect .video-modal iframe {
    border: 5px solid rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    box-sizing: content-box;
    box-shadow: 0 0px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.reflect .video-modal .modal-content {
    padding: 0;
    border: 0;
    position: fixed;
    width: 712px;
    left: 50%;
    margin-top: -200px;
    top: 50%;
    margin-left: -356px;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
}
/*6.4 SOLUTIONS*/

.reflect .chart {
    position: relative;
    display: block;
    margin: 0 auto 40px auto;
    width: 230px;
    height: 230px;
    line-height: 230px;
    letter-spacing: -1px;
    font-family: WorkSans;
    text-align: center;
    font-weight: 300;
    font-size: 48px;
    color: #1080f2;
    background: #fff;
    border-radius: 50%;
}
.reflect .chart .percent {
    font-size: 28px;
    position: relative;
    margin-left: 3px;
}
.reflect .chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.reflect .chart-content {
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.reflect .chart-content h4 {
    color: #666;
    font-family: PTSans;
    font-size: 18px;
    margin: 0;
    font-weight: 400;
    display: inline-block;
    line-height: 30px;
    margin-left: 10px;
    position: relative;
    top: -6px;
}
.reflect .chart-content .nc-icon-outline {
    color: #1080f2;
    display: inline-block;
    font-size: 30px;
}
/*6.5 PRICING*/

.reflect .pricing {
    overflow: hidden;
    position: relative;
    border: 2px solid #e6e6e6;
    border-top: none;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 100%;
    margin: 0;
}
.reflect .pricing.active {
    background-color: #1080f2;
    border: 2px solid #1080f2;
    opacity: 0.85;
    border-top: 0;
}
.reflect .pricing-title {
    background-color: #1080f2;
    border-radius: 2px 2px 0 0;
    text-align: center;
    color: white;
    font-family: PTSans;
    font-size: 16px;
    font-weight: 700;
    line-height: 62px;
    height: 60px;
}
.reflect .pricing .pricing-row {
    padding-top: 23px;
    float: left;
    padding-left: 0;
    text-align: center;
    padding-right: 0;
    width: 100%;
}
.reflect .pricing .pricing-row.selected {
    background-color: whitesmoke;
    font-weight: bold;
    color: #666;
    font-size: 14px;
    padding-top: 13px;
    margin-top: 10px;
    margin-bottom: -13px;
    padding-bottom: 13px;
}
.reflect .pricing.active .pricing-row.selected {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}
.reflect .pricing .col-lg-3 {
    padding: 50px 0 20px 0;
    font-family: WorkSans;
    font-weight: 300;
    line-height: 25px;
    color: #1080f2;
    width: 100%;
    text-align: center;
}
.reflect .pricing.active .col-lg-3 {
    color: #fff;
}
.reflect .pricing .button-container {
    text-align: center;
    position: relative;
    padding: 42px 0 45px 0;
    width: 100%;
    margin: 0;
    height: auto;
    background: none;
}
.reflect .pricing .pricing-price {
    font-size: 60px;
    letter-spacing: -2px;
    line-height: 42px;
    display: inline-block;
}
.reflect .pricing .pricing-time {
    font-weight: 300;
    letter-spacing: -1px;
    margin-top: 5px;
    font-size: 30px;
}
.reflect .pricing .iconita {
    line-height: 52px;
    font-size: 48px;
    height: 52px;
}
.reflect .pricing .pricing-title {
    font-weight: 700;
    font-size: 32px;
    margin-top: 25px;
    margin-bottom: 15px;
    line-height: 32px;
}
.reflect .pricing .pricing-option {
    text-transform: capitalize;
    text-align: center;
    line-height: 1;
    color: #666;
    font-family: PTSans;
    font-size: 16px;
}
.reflect .pricing .pricing-row.selected .pricing-option {
    font-size: 14px;
}
.reflect .pricing .pricing-option.selected {
    background: #3595f8;
}
.reflect .pricing.active .pricing-option {
    color: #fff;
}
.reflect .pricing .pricing-row.selected .fa {
    font-size: 13px;
    top: 0;
}
.reflect .pricing .fa {
    color: #1080f2;
    font-size: 11px;
    margin-right: 10px;
    position: relative;
    top: -1px;
}
.reflect .pricing.active .fa {
    color: #fff;
}
.reflect .pricing .currency {
    font-size: 34px;
    margin-right: 5px;
    position: relative;
    top: -20px;
}
.reflect .pricing .billing-time {
    color: #b3b3b3;
    font-size: 14px;
    line-height: 14px;
    margin-top: 8px;
}
.reflect .pricing.active .billing-time {
    color: #fff;
}
.reflect .pricing .secondary-button {
    background: transparent;
}
.reflect .pricing .secondary-button:hover {
    background: #fff;
}
.reflect .pricing .secondary-button.secondary-button-inverse:hover {
    background: #1080f2;
}
/*6.6 TESTIMONIALS*/

.reflect .testimonials {
    padding-bottom: 0px;
    margin-bottom: 52px;
}
.reflect .tt-content h3 {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1.65;
    text-align: center;
    color: #333;
    margin: auto;
    font-family: WorkSans;
    max-width: 850px;
}
.reflect .tt-content h4 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 5px;
    padding-top: 20px;
}
.reflect .tt-content .content {
    font-size: 16px;
    font-weight: 400;
}
.reflect .tt-content .tt-container {
    margin-top: 15px;
    text-align: center;
}
.reflect .tt-images {
    text-align: center;
    margin-bottom: -42px;
    font-size: 0;
}
.reflect .tt-image {
    display: inline-block;
    margin: 0;
    /*   border: 2px solid #D1D1D1;*/
    
    border-radius: 90px;
    margin: 0 15px;
}
.reflect .tt-image img {
    display: inline-block;
    width: 84px;
    height: 84px;
    border-radius: 90px;
}
.reflect .tt-quote {
    font-size: 75px;
    font-weight: 700;
    line-height: 70px;
    margin-right: 20px;
    float: left;
    color: #D1D1D1;
    display: block;
    margin-bottom: 40px;
    margin-left: 2px;
}
.reflect .tt-quote-right {
    float: right;
    margin-right: 0;
    position: relative;
    margin-left: 20px;
    bottom: 0;
    margin-bottom: 0;
}
/* --------------------------------------
7.FOOTER
-----------------------------------------*/

.reflect .reflect-footer {
    padding: 50px 0 40px 0;
    text-align: center;
    background-color: #273140;
}
.reflect .lower-footer span,
.reflect .lower-footer a {
    opacity: 0.2;
    color: white;
    font-family: PTSans;
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
    margin-right: 25px;
}
.reflect .lower-footer a {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.reflect .lower-footer a:hover {
    opacity: 1;
    text-decoration: none;
}
.reflect .lower-footer .pull-right a {
    margin: 0;
    margin-left: 35px;
    float: left;
    display: inline-block;
}
.reflect .lower-footer .fa {
    margin: 0;
    opacity: 1;
    font-family: FontAwesome;
    font-size: 20px;
    font-weight: 400;
    float: left;
    margin-right: 0;
}
.reflect .lower-footer {
    margin-top: 80px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding-top: 40px;
    width: 100%;
    float: left;
}
.reflect .upper-footer {
    width: 100%
}
.reflect .upper-footer .pull-right {
    width: 570px;
}
.reflect .upper-footer .pull-left p {
    opacity: 0.2;
    max-width: 250px;
    margin-top: 30px;
    color: white;
    font-family: PTSans;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 25px;
}
.reflect .footer-nav {
    float: left;
    max-width: 280px;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}
.reflect .footer-nav li {
    width: 120px;
    display: inline-block;
    float: left;
    margin-bottom: 30px;
}
.reflect .footer-nav a {
    color: white;
    font-family: PTSans;
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    display: inline-block;
    text-align: left;
    float: left;
    line-height: 1;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.reflect .footer-nav a:hover {
    text-decoration: none;
    color: #1080f2
}
.reflect .footer-secondary-nav {
    float: left;
    padding: 0;
    width: auto;
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 50px;
    max-width: 280px;
}
.reflect .footer-secondary-nav li {
    display: inline-block;
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
.reflect .footer-secondary-nav a {
    font-family: PTSans;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    float: left;
    line-height: 14px;
}
.reflect .footer-secondary-nav .fa {
    display: inline-block;
    margin-right: 15px;
    font-size: 18px;
    height: 14px;
    line-height: 13px;
}
.reflect .footer-secondary-nav .fa.fa-envelope {
    font-size: 14px;
}
/*-----------------------------------------------------------------*/
/* 8. ICONS
/*-----------------------------------------------------------------*/

